"""
################################################################################
MercuPy Wrap
Jorge Zuluaga (C) 2011
################################################################################
PLOT CONFIGURATION FILE
"""
from mercupy import *
state=loadconf("system.config")

#DO YOU WANT TO CONTINUE A PREVIUS RAN SIMULATION?
CONTINUE=1

#DO YOU WANT TO PRESERVE PREVIOUS DATA
STORE_PREVIOUS=1
