"""
################################################################################
MercuPy Wrap
Jorge Zuluaga (C) 2011
################################################################################
PLOT CONFIGURATION FILE
"""
from mercupy import *
state=loadconf("system.config")

PLOTS=[
###################################################
#PLOT: ORBIT INERTIAL
###################################################
plot(
#VALID: phasespace,evolution
type='phasespace',
#ACTIVATE/DEACIVATE
activate=1,
#IMAGE FILE
image='orbit-inertial.png',
#USE CODES INSTEAD OF NAMES
#bodies=['BODY1','BODY2','BODY3','BODY4'], 
bodies=['BODY5','BODY6','BODY7','BODY8'], #EXTERIOR SOLAR SYSTEM
#DATA FILE EXTENSION: dat,ref
extension='dat',
#ONE STYLE FOR BODY.  IF JUST ONE ALL BODIES SAME STYLE
styles=[('b','-',2,'o',5),('r','-',2,'o',5),('g','-',2,'o',5),('c','-',2,'o',5),
	('m','-',2,'o',5),('y','-',2,'o',5),('k','-',2,'o',5),('b','-',2,'o',5),
	('r','-',2,'o',5),('g','-',2,'o',5),('c','-',2,'o',5)],
#THREE COORDINATES.  ANY SET OF ELEMENTS
coordinates=['x','y','z'],
#ANGLE VIEW: PHI (XY-ANGLE), THETA (Z-ANGLE).  DEGREES.
view=[30,60],
#YOU CAN USE state VARIABLES.  UNITS ARE THE SAME AS IN SYSTEM.STATE
tini=state.TIME_START,
tend=state.TIME_STOP,
#INCLUDE A 2D GRID
grid=0,
#INCLUDE THE X,Y,Z AXIS IN THE PLOT
axes=1,
#INCLUDE THE BORDER OF THE XY-PLANE
xyplane=1,
#PLOT BOX
plotbox=0,
#INCLUDE LABELS FOR ORBITS: NAME OF OBJECTS
legends=1,
#LABELS FOR THE 2D PLOT
xlabel='AU',
#LABELS FOR THE 2D PLOT
ylabel='AU'
),#COMMA IS MANDATORY

###################################################
#PLOT: ORBIT ROTATING
###################################################
plot(
#VALID: phasespace,evolution
type='phasespace',
#ACTIVATE/DEACIVATE
activate=0,
#IMAGE FILE
image='orbit-rotating.png',
#USE CODES INSTEAD OF NAMES
bodies=['BODY2','BODY7'],
#DATA FILE EXTENSION
extension='ref',
#ONE STYLE FOR BODY.  IF JUST ONE ALL BODIES SAME STYLE
styles=[('b','-',2,'o',5),('r','-',2,'o',5)],
#THREE COORDINATES.  ANY SET OF ELEMENTS
coordinates=['x','y','z'],
#ANGLE VIEW: PHI (XY-ANGLE), THETA (Z-ANGLE).  DEGREES.
view=[30,60],
#YOU CAN USE state VARIABLES.  UNITS ARE THE SAME AS IN SYSTEM.STATE
tini=state.TIME_START,
tend=state.TIME_STOP,
#INCLUDE A 2D GRID
grid=0,
#INCLUDE THE X,Y,Z AXIS IN THE PLOT
axes=1,
#INCLUDE THE BORDER OF THE XY-PLANE
xyplane=1,
#PLOT BOX
plotbox=0,
#INCLUDE LABELS FOR ORBITS: NAME OF OBJECTS
legends=1,
#LABELS FOR THE 2D PLOT
xlabel='AU',
#LABELS FOR THE 2D PLOT
ylabel='AU'
),#COMMA IS MANDATORY

###################################################
#PLOT: ELEMENTS INERTIAL
###################################################
plot(
#VALID: phasespace,evolution
type='evolution',
#ACTIVATE/DEACIVATE
activate=1,
#IMAGE FILE
image='elements-inertial.png',
#USE CODES INSTEAD OF NAMES
#bodies=['BODY1','BODY2','BODY3','BODY4'],
bodies=['BODY5','BODY6','BODY7','BODY8'], #EXTERIOR SOLAR SYSTEM
#DATA FILE EXTENSION
extension='dat',
#ONE STYLE FOR BODY.  IF JUST ONE ALL BODIES SAME STYLE
styles=[('b','-',2,'o',5),('r','-',2,'o',5),('g','-',2,'o',5),('c','-',2,'o',5),
	('m','-',2,'o',5),('y','-',2,'o',5),('k','-',2,'o',5),('b','-',2,'o',5),
	('r','-',2,'o',5),('g','-',2,'o',5),('c','-',2,'o',5)],
#ANY SET OF ELEMENTS
elements=['a','e','q','Q','i'],
#LIMITS FOR Y-AXIS IN THE PLOT OF THE ELEMENT
ylims=['Auto',(0,1),'Auto','Auto',(0,10)],
#SCALE FOR Y-AXIS
yscales=['linear','log','linear','linear','linear'],
#YOU CAN USE state VARIABLES.  UNITS ARE THE SAME AS IN SYSTEM.STATE
tini=state.TIME_START,
tend=state.TIME_STOP,
),#COMMA IS MANDATORY

###################################################
#PLOT: ELEMENTS ROTATING
###################################################
plot(
#VALID: phasespace,evolution
type='evolution',
#ACTIVATE/DEACIVATE
activate=0,
#IMAGE FILE
image='elements-rotating.png',
#USE CODES INSTEAD OF NAMES
bodies=['BODY2'],
#DATA FILE EXTENSION
extension='ref',
#ONE STYLE FOR BODY.  IF JUST ONE ALL BODIES SAME STYLE
styles=[('b','-',3,'s',2)],
#ANY SET OF ELEMENTS
elements=['a','e','q','Q','i'],
#LIMITS FOR Y-AXIS IN THE PLOT OF THE ELEMENT
ylims=['Auto',(0,1),'Auto','Auto',(0,180)],
#SCALE FOR Y-AXIS
yscales=['linear','log','linear','linear','linear'],
#YOU CAN USE state VARIABLES.  UNITS ARE THE SAME AS IN SYSTEM.STATE
tini=state.TIME_START,
tend=state.TIME_STOP,
),#COMMA IS MANDATORY

###################################################
#END PLOTS
###################################################
]
