"""
################################################################################
MercuPy Wrap
Jorge Zuluaga (C) 2011
################################################################################
CONFIGURATION FILE FOR CHANGE OF REFERENCE FRAME 
"""
from mercupy import *

#TRANSFORM BODIES TO ANOTHER REFERENCE FRAME
TRANSFORM=0

#BODIES TO TRANSFORM
BODIES=['BODY2']

#VALID BODIES: CODES AS DESCRIBED IN SYSTEM.CONFIG
REFERENCE_BODY="BODY1"

#[ORIGIN,POINT TO]. AXIS EXTREMES COULD BE: BODIES OR INERTIAL
REFERENCE_AXIS=["BODY1","INERTIALX"]

#VALID TYPES:Rotating,Pulsating
REFERENCE_TYPE="Rotating"
