from mercupy import *
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#DESCRIPTION
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
DOCSTRING=\
"""
This is the solar system at January 1 / 2012, 0h UT
"""

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#GLOBAL PROPERTIES OF INTEGRATION
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#01/01/2012 00:00:00.000
EPOCH=0.0

TIME_UNIT="days"
TIME_START=0.0
TIME_ELAPSED=365.25
TIME_STOP=TIME_START+TIME_ELAPSED
TIME_STEP=1E-4

DT_OUTPUT=1.0
DT_OUTPUTELEM=1.0
DT_DATADUMPS=100.0

COORDINATES[CENTRAL]="Cartesian"
COORDINATES[BIG]="Asteroidal"
COORDINATES[SMALL]="Asteroidal"

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#BODIES
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
BODIES=[
#####################
#BODY 0:
#####################
body(
Type=CENTRAL,
Code="BODY0",
Name="SUN",
Mass=1.0*MSUN,
ObjectClass=NORMALSTAR,
Density=0.0,
Radius=0.0,
Frame="BODY0",
Units=ORBITAL,
Ep=EPOCH,
State="0.0 0.0 0.0 0.0 0.0 0.0",
Cartesian=np.array([0.0,0.0,0.0,0.0,0.0,0.0]),
J2=0.0,J4=0.0,J6=0.0,
CloseEncounter=1.0,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 1
#####################
body(
Type=BIG,
Code="BODY1",
Name="Earth",
Mass=MEARTH,
ObjectClass=SOLIDROCKY,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY0",
Units=MERCURY,
State="1.0 0.0 0.0 0.0 0.0 0.0",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 2
#####################
body(
Type=SMALL,
Code="BODY2",
Name="NEA",
Mass=MEARTH/1E14,
ObjectClass=SOLIDROCKY,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY1",
Units=MERCURY,
State="0.05 0.5 30.0 0.0 0.0 90.0",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#END BODIES
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
]#THIS LINE IS MANDATORY

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#OUTPUT ELEMENTS
#Format: XN[.M|e]
#Where: X:element letter,N:reserved spaces,M:decimal
#       places,e:scientific notation
#Available: 
#  x,y,z:position;u,v,w:velocity
#  a,e,i:classical elements
#  g:periapsis argument,n:long.asc.node,l:mean anom
#  r:radial dist.,q: peric.,b:apoc.(Q),p:long.per.,f:true anom.
#  s:spin period, d:density, m:mass
#  R:Radius(km), P:Period(years), E:Central Energy, L:Central Angular Momentum
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
POSITION_ELEMENTS="x15e y15e z15e u15e v15e w15e r15e"
ORBITAL_ELEMENTS="a15e e15e i15e g15e n15e l15e q15e b15e p15e f15e"
PHYSICAL_ELEMENTS="s8.5 o8.5 m10e d8.5"
ADDITIONAL_ELEMENTS="R15e P15e E15e L15e"
OUTPUT_FORMAT="%-15.10e"

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#GENERAL BEHAVIOR OF THE INTEGRATOR
#Modify only if you know what are you doing
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#STOP INTEGRATION AFTER A CLOSE ENCOUNTER
STOPINTEG="no"
#ALLOW COLLISIONS TO OCCUR
COLLISIONS="yes"
#INCLUDE COLLISIONAL FRAGMENTATION
FRAGMENTATION="no"
#ALGORITHM (MVS, BS, BS2, RADAU, HYBRID ETC)
INTEGRATION_ALGORITHM="HYB"
#ACCURACY
INTEGRATION_ACCURACY=1E-12
#OUTPUT PRECISION = MEDIUM
INTEGRATION_PRECISION="medium"
#HYBRID INTEGRATOR CHANGEOVER (HILL RADII) = 3.
INTEGRATION_CHANGEOVER=3.0
#REFERENCE FRAME FOR OUTPUT ELEMENTS: CENTRAL, BARYCENTRIC, JACOBI
OUT_ELEMENTS="Central"
#NUMBER OF TIMESTEPS BETWEEN PERIODIC EFFECTS 
DSTEP_PERIODIC=100
#EXPRESS TIME RELATIVE TO INTEGRATION START TIME
TIME_RESPINTEGRATION="yes"
