from mercupy import *
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#DESCRIPTION
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
DOCSTRING=\
"""
This is the solar system at January 1 / 2012, 0h UT
"""

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#GLOBAL PROPERTIES OF INTEGRATION
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#01/01/2012 00:00:00.000
EPOCH=0.0

TIME_UNIT="years"
TIME_START=0.0
TIME_ELAPSED=-1000.0
TIME_STOP=TIME_START+TIME_ELAPSED
TIME_STEP=5E-6

DT_OUTPUT=0.1
DT_OUTPUTELEM=0.5
DT_DATADUMPS=0.2

COORDINATES[CENTRAL]="Cartesian"
COORDINATES[BIG]="Cartesian"
COORDINATES[SMALL]="Cometary"

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#BODIES
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
BODIES=[
#####################
#BODY 0:
#####################
body(
Type=CENTRAL,
Code="BODY10",
Name="SUN",
Mass=1.0*MSUN,
ObjectClass=NORMALSTAR,
Density=0.0,
Radius=0.0,
Frame="BODY10",
Units=ORBITAL,
Ep=EPOCH,
State="0.0 0.0 0.0 0.0 0.0 0.0",
Cartesian=np.array([0.0,0.0,0.0,0.0,0.0,0.0]),
J2=0.0,J4=0.0,J6=0.0,
CloseEncounter=1.0,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 1
#####################
body(
Type=BIG,
Code="BODY1",
Name="Mercury",
Mass=MSUN/6.0236E6,
ObjectClass=SOLIDIRON,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="-5.6734060353e+07 -2.9060806590e+07 +2.8311747119e+06 +1.2166453365e+01 -4.1230471870e+01 -4.4850827708e+00",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 2
#####################
body(
Type=BIG,
Code="BODY2",
Name="Venus",
Mass=MSUN/4.08523719E5,
ObjectClass=SOLIDROCKY,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="+1.0836208977e+08 +5.1891173745e+06 -6.1828388831e+06 -1.8188822819e+00 +3.4821811649e+01 +5.8206027889e-01",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 3
#####################
body(
Type=BIG,
Code="BODY3",
Name="Earth",
Mass=MEARTH,
ObjectClass=SOLIDROCKY,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="-2.5012809687e+07 +1.4496167575e+08 -4.1607573358e+03 -2.9839739545e+01 -5.1767534881e+00 +2.0747862836e-04",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 4
#####################
body(
Type=BIG,
Code="BODY4",
Name="Mars",
Mass=MSUN/3.09870359E6,
ObjectClass=SOLIDROCKY,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="-1.7794523534e+08 +1.7208469603e+08 +7.9749799387e+06 -1.5928059327e+01 -1.5352966125e+01 +6.9406008565e-02",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 5
#####################
body(
Type=BIG,
Code="BODY5",
Name="Jupiter",
Mass=MSUN/1.047348644E3,
ObjectClass=GASGIANT,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="+5.6186881472e+08 +4.8732151167e+08 -1.4597189035e+07 -8.7270317976e+00 +1.0501870549e+01 +1.5167937191e-01",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 6
#####################
body(
Type=BIG,
Code="BODY6",
Name="Saturn",
Mass=MSUN/3.4979018E3,
ObjectClass=GASGIANT,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="-1.3374444239e+09 -5.5641576211e+08 +6.2922889286e+07 +3.1816532901e+00 -8.9318764141e+00 +2.8723763648e-02",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 7
#####################
body(
Type=BIG,
Code="BODY7",
Name="Uranus",
Mass=MSUN/2.290298E4,
ObjectClass=ICEGIANT,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="+2.9976941811e+09 +1.8049267950e+08 -3.8160560847e+07 -4.6612867037e-01 +6.4882563101e+00 +3.0167948600e-02",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 8
#####################
body(
Type=BIG,
Code="BODY8",
Name="Neptune",
Mass=MSUN/1.941226E4,
ObjectClass=ICEGIANT,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="+3.8921673808e+09 -2.2347181373e+09 -4.3662559645e+07 +2.6633130661e+00 +4.7535542509e+00 -1.5912726404e-01",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=1,
),#COMMA MANDATORY
#####################
#BODY 9
#####################
body(
Type=SMALL,
Code="BODY9",
Name="Comet",
Mass=2.2E14,
ObjectClass=ICEPLSIMAL,
Density=0.0,
Radius=0.0,
Ep=EPOCH,
Frame="BODY10",
Units=ORBITAL,
State="17.8 0.967 162.3 0.0 0.0 0.0",
As="a1=0.0 a2=0.0 a3=0.0",
Spin="0.0 0.0 0.0",
CloseEncounter=1E-4,
ShowObject=1,
Activate=0,
),#COMMA MANDATORY
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#END BODIES
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
]#THIS LINE IS MANDATORY

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#OUTPUT ELEMENTS
#Format: XN[.M|e]
#Where: X:element letter,N:reserved spaces,M:decimal
#       places,e:scientific notation
#Available: 
#  x,y,z:position;u,v,w:velocity
#  a,e,i:classical elements
#  g:periapsis argument,n:long.asc.node,l:mean anom
#  r:radial dist.,q: peric.,b:apoc.(Q),p:long.per.,f:true anom.
#  s:spin period, d:density, m:mass
#  R:Radius(km), P:Period(years), E:Central Energy, L:Central Angular Momentum
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
POSITION_ELEMENTS="x15e y15e z15e u15e v15e w15e r15e"
ORBITAL_ELEMENTS="a15e e15e i15e g15e n15e l15e q15e b15e p15e f15e"
PHYSICAL_ELEMENTS="s8.5 o8.5 m10e d8.5"
ADDITIONAL_ELEMENTS="R15e P15e E15e L15e"
OUTPUT_FORMAT="%-15.10e"

#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#GENERAL BEHAVIOR OF THE INTEGRATOR
#Modify only if you know what are you doing
#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#STOP INTEGRATION AFTER A CLOSE ENCOUNTER
STOPINTEG="no"
#ALLOW COLLISIONS TO OCCUR
COLLISIONS="yes"
#INCLUDE COLLISIONAL FRAGMENTATION
FRAGMENTATION="no"
#ALGORITHM (MVS, BS, BS2, RADAU, HYBRID ETC)
INTEGRATION_ALGORITHM="HYB"
#ACCURACY
INTEGRATION_ACCURACY=1E-12
#OUTPUT PRECISION = MEDIUM
INTEGRATION_PRECISION="medium"
#HYBRID INTEGRATOR CHANGEOVER (HILL RADII) = 3.
INTEGRATION_CHANGEOVER=3.0
#REFERENCE FRAME FOR OUTPUT ELEMENTS: CENTRAL, BARYCENTRIC, JACOBI
OUT_ELEMENTS="Central"
#NUMBER OF TIMESTEPS BETWEEN PERIODIC EFFECTS 
DSTEP_PERIODIC=100
#EXPRESS TIME RELATIVE TO INTEGRATION START TIME
TIME_RESPINTEGRATION="yes"
